@{
    ViewData["Title"] = "monkey";
}
<div class="container text-center my-5">
    <div class="d-flex justify-content-center gap-4 flex-wrap">
        <img src="/imgs/FactN1img1.jpeg" style="max-width: 30%; height: auto;" class="img-fluid rounded">
        <img src="/imgs/FactN1img2.png" style="max-width: 15%; height: auto; class="img-fluid rounded">
        <img src="/imgs/FactN1img3.jpeg" style="max-width: 30%; height: auto; class="img-fluid rounded">
    </div>
</div>

<h1>@ViewData["Title"]</h1>

<div>
    <p>Не стоит смеяться, это лучшая <b style="display: inline;">monkey</b> из всех, что вы только могли видеть. Многим людям есть чему поучиться у неё</p>
</div>