@{
    ViewData["Title"] = "Дори";
}


<div class="container text-center my-5">
    <img src="https://img.day.az/367x275c/eto_interesno/0e/5/rybka_dori.jpg" style="max-width: 95%; height: auto; class="img-fluid rounded">
</div>
<h1>@ViewData["Title"]</h1>
<div>
    Эмилия довольно забывчивая, вы не подумайте, она не из глупых, просто часто что-то забывает. Иногда это может раздражать, но не заставлять же её насильно тренировать память😅
</div>