@{
    ViewData["Title"] = "Капидори или дорибара?🤔";
}
<div class="container text-center my-5">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5rjH3KSDbIjMPVZn6Ik5Ta6l6zzdeg_IDzg&s" style="max-width: 95%; height: auto; class="img-fluid rounded">
</div>
<h1>@ViewData["Title"]</h1>
<div>
    Если у Эмилии есть тотемное животное, то это точно капибара, она такая же чиловая, как и она
</div>