@{
    ViewData["Title"] = "АУФ";
}
<div class="container text-center my-5">
    <img src="https://cs13.pikabu.ru/post_img/2023/05/01/11/1682970516140382158.jpg" style="max-width: 95%; height: auto; class="img-fluid rounded">
</div>
<h1>@ViewData["Title"]</h1>
<div>
   Эмилия настоящий <b>волк</b>!!!!🐺🐺🐺🐺🐺🐺🐺
💪💪💪☝️☝️☝️
в цирке не выступает, и если молчит, <b>лучше не перебивать</b>🐺☝️
</div>