@{
    ViewData["Title"] = "Немка";
}
<div class="container text-center my-5">
    <img src="/imgs/FactN6img1.jpeg" style="max-width: 75%; height: auto; class="img-fluid rounded">
</div>
<h1>@ViewData["Title"]</h1>
<div>
   Немецкая пунктуальность — это про Эмилию
</div>