@{
    ViewData["Title"] = "На стиле";
}

<div class="container text-center my-5">
     <img src="/imgs/FactN2img1.jpeg" style="max-width: 95%; height: auto; class="img-fluid rounded" alt="Факт 3">
</div>
<h1>@ViewData["Title"]</h1>

<div>
    Красиво одеваться? Эмилия в этом спец 😎
</div>