@{
    ViewData["Title"] = "Эмилия — это Эмилия";
}
<div class="container text-center my-5">
    <img src="/imgs/FinalFact.png" style="max-width: 85%; height: auto;" class="img-fluid rounded">
</div>
<h1>@(ViewData["Title"])</h1>
<div>Отбросив шутки в сторону, хочу сказать, что мне не хватило бы и тысячи дверей, чтобы выразить всё то хорошее, что есть в Эмилии. Бывает так, что знай ты хоть все языки мира, ты бы всё равно не смог сказать о том, почему же человек твоему сердцу так близок.
</div>
<div>Но всё же оставить Эмилию без внимания в этот день я не могу, и потому пишу: С днём рождения тебя, Эмилия!</div>
