@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <h1 class="display-4 mb-4">За каждой дверью 1 факт</h1>
    <div class="row justify-content-center g-4">
        <div class="col-md-4 col-6">
            <a asp-action="FactNumOne">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 1">
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a asp-action="FactNumTwo">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 2">
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a asp-action="FactNumThree">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 3">
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a asp-action="FactNumFour">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 3">
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a asp-action="FactNumFive">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 3">
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a asp-action="FactNumSix">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 3">
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a asp-action="FinalFact">
            <img src="/imgs/Door.jpeg
            " class="img-fluid rounded" alt="Факт 3">
            </a>
        </div>
        
    </div>
</div>
